#map{
  width: 100vw;
  height: 100vh;
}
.leaflet-div-icon {
  background: none;
  border: none;
}

.temperaturlabel{
  display: inline;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em;
  border:1px solid grey;
  text-shadow:
     -1px -1px 0 white,
     1px -1px 0 white,
     -1px 1px 0 white,
     1px 1px 0 white;
}

.feuchtlabel{
  display: inline;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em;
  border:1px solid grey;
  border-radius: 50%;
  text-shadow:
     -1px -1px 0 white,
     1px -1px 0 white,
     -1px 1px 0 white,
     1px 1px 0 white;
}


<!Leider ist die Serververbindung unterbrochen, während ich versucht habe die Legende ansprechend zu gestalten :( -->
.legend {
    border:0.3em;
    line-height: 18px;
    background-color: #F2F2F2;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
